{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Reset Password</title>

    <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
  </head>
  <body>
    <div class="auth-page">
      <div class="auth-card">
        {% if messages %}
          {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
          {% endfor %}
        {% endif %}

        <h2>Reset Password</h2>

        <form method="POST">
          {% csrf_token %}

          <input type="text" name="otp" placeholder="Enter OTP" maxlength="6" required />

          <input type="password" id="new-password" name="password" placeholder="New Password" required />

          <input type="password" id="confirm-password" name="confirm_password" placeholder="Confirm Password" required />

          <small id="strength-text"></small>
          <br />

          <small id="match-text"></small>

          <button type="submit">Reset Password</button>
        </form>

        <div class="auth-link">
          <a id="resend-link" href="{% url 'resend_reset_otp' user.id %}">Resend OTP</a>

          <p id="timer"></p>
        </div>
      </div>
    </div>

    <script>

const password =
    document.getElementById("new-password");

const confirmPassword =
    document.getElementById("confirm-password");

const strengthText =
    document.getElementById("strength-text");

const matchText =
    document.getElementById("match-text");

password.addEventListener("input", function () {

    const value = password.value;

    if (value.length < 6) {

        strengthText.innerText =
            "Weak Password";

    } else if (value.length < 10) {

        strengthText.innerText =
            "Medium Password";

    } else {

        strengthText.innerText =
            "Strong Password";
    }

});

function checkPasswords() {

    if (
        confirmPassword.value === ""
    ) return;

    if (
        password.value ===
        confirmPassword.value
    ) {

        matchText.innerText =
            "✓ Passwords Match";

    } else {

        matchText.innerText =
            "✗ Passwords Do Not Match";
    }
}

password.addEventListener(
    "input",
    checkPasswords
);

confirmPassword.addEventListener(
    "input",
    checkPasswords
);

let seconds =
    {{ remaining_seconds }};

const timer =
    document.getElementById("timer");

const resendLink =
    document.getElementById("resend-link");

function updateTimer() {

    if (seconds > 0) {

        resendLink.style.pointerEvents =
            "none";

        resendLink.style.opacity =
            "0.5";

        timer.innerText =
            `Resend OTP in ${seconds}s`;

        seconds--;

    } else {

        resendLink.style.pointerEvents =
            "auto";

        resendLink.style.opacity =
            "1";

        timer.innerText = "";
    }
}

updateTimer();

setInterval(
    updateTimer,
    1000
);

</script>
  </body>
</html>
